In [3]:
import pandas as pd

In [4]:
#Read in csv data to Dataframes
people = pd.read_csv('Data/People.csv')
batting = pd.read_csv('Data/Batting.csv')
pitching = pd.read_csv('Data/Pitching.csv')
fielding = pd.read_csv('Data/Fielding.csv')
allstar = pd.read_csv('Data/AllstarFull.csv')
halloffame = pd.read_csv('Data/HallOfFame.csv')
postseason_batting = pd.read_csv('Data/BattingPost.csv')
postseason_pitching = pd.read_csv('Data/PitchingPost.csv')
postseason_fielding = pd.read_csv('Data/FieldingPost.csv')
salaries = pd.read_csv('Data/Salaries.csv')
player_awards = pd.read_csv('Data/AwardsPlayers.csv')
awards_share = pd.read_csv('Data/AwardsSharePlayers.csv')
appearances = pd.read_csv('Data/Appearances.csv')

In [6]:
#Create a list of Dataframes so we can .join
dfs = [people, batting, pitching, fielding, allstar, halloffame, postseason_batting, postseason_pitching, postseason_fielding, salaries, player_awards, awards_share, appearances]

In [7]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [11]:
#result = pd.concat([df1, df4], axis=1, join='inner')

In [12]:
#Join dataframes on playerID
#dfs = [df.set_index('playerID') for df in dfs]
#dfs[0].join(dfs[1:])

In [13]:
#merged_df = dfs[0]
#for merged_df in dfs[1:]:
#    merged_df = merged_df.merge(merged_df, on='playerID')