In [4]:
import pandas as pd

In [5]:
#Read in csv data to Dataframes
people = pd.read_csv('Data/People.csv')
batting = pd.read_csv('Data/Batting.csv')
pitching = pd.read_csv('Data/Pitching.csv')
fielding = pd.read_csv('Data/Fielding.csv')
allstar = pd.read_csv('Data/AllstarFull.csv')
halloffame = pd.read_csv('Data/HallOfFame.csv')
postseason_batting = pd.read_csv('Data/BattingPost.csv')
postseason_pitching = pd.read_csv('Data/PitchingPost.csv')
postseason_fielding = pd.read_csv('Data/FieldingPost.csv')
salaries = pd.read_csv('Data/Salaries.csv')
player_awards = pd.read_csv('Data/AwardsPlayers.csv')
awards_share = pd.read_csv('Data/AwardsSharePlayers.csv')
appearances = pd.read_csv('Data/Appearances.csv')

In [11]:
#Create a list of Dataframes so we can .join
dfs = [people, batting, pitching, fielding, allstar, halloffame, postseason_batting, postseason_pitching, postseason_fielding, salaries, player_awards, awards_share, appearances]
dfs

[        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
 0      aardsda01     1981.0        12.0      27.0          USA         CO
 1      aaronha01     1934.0         2.0       5.0          USA         AL
 2      aaronto01     1939.0         8.0       5.0          USA         AL
 3       aasedo01     1954.0         9.0       8.0          USA         CA
 4       abadan01     1972.0         8.0      25.0          USA         FL
 5       abadfe01     1985.0        12.0      17.0         D.R.  La Romana
 6      abadijo01     1850.0        11.0       4.0          USA         PA
 7      abbated01     1877.0         4.0      15.0          USA         PA
 8      abbeybe01     1869.0        11.0      11.0          USA         VT
 9      abbeych01     1866.0        10.0      14.0          USA         NE
 10     abbotda01     1862.0         3.0      16.0          USA         OH
 11     abbotfr01     1874.0        10.0      22.0          USA         OH
 12     abbotgl01     1951.0         2.0      16.0          USA         AR
 13     abbotje01     1972.0         8.0      17.0          USA         GA
 14     abbotji01     1967.0         9.0      19.0          USA         MI
 15     abbotku01     1969.0         6.0       2.0          USA         OH
 16     abbotky01     1968.0         2.0      18.0          USA         MA
 17     abbotod01     1886.0         9.0       5.0          USA         PA
 18     abbotpa01     1967.0         9.0      15.0          USA         CA
 19      aberal01     1927.0         7.0      31.0          USA         OH
 20     abercda01     1850.0         1.0       2.0          USA         OK
 21     abercre01     1980.0         7.0      15.0          USA         GA
 22     abernbi01     1929.0         1.0      30.0          USA         CA
 23     abernbr01     1977.0         9.0      23.0          USA         GA
 24     abernte01     1921.0        10.0      30.0          USA         NC
 25     abernte02     1933.0         3.0       6.0          USA         NC
 26     abernwo01     1915.0         2.0       1.0          USA         NC
 27     aberscl01     1921.0         8.0      28.0          USA         IL
 28     ablesha01     1883.0        10.0       4.0          USA         TX
 29     abnersh01     1966.0         6.0      17.0          USA         OH
 ...          ...        ...         ...       ...          ...        ...
 19587  zimmejo02     1986.0         5.0      23.0          USA         WI
 19588  zimmero01     1913.0         9.0      13.0          USA         PA
 19589  zimmery01     1984.0         9.0      28.0          USA         NC
 19590   zinkch01     1979.0         8.0      26.0          USA         CA
 19591   zinkwa01     1898.0        11.0      21.0          USA         MA
 19592   zinnfr01     1865.0        12.0      21.0          USA         PA
 19593   zinngu01     1887.0         2.0      13.0          USA         WV
 19594   zinnji01     1895.0         1.0      31.0          USA         AR
 19595  zinsebi01     1918.0         1.0       6.0          USA         NY
 19596  zinteal01     1968.0         5.0      19.0          USA         TX
 19597  zipfebu01     1938.0        11.0      18.0          USA         IL
 19598   ziskri01     1949.0         2.0       6.0          USA         NY
 19599   zitoba01     1978.0         5.0      13.0          USA         NV
 19600  zitzmbi01     1895.0        11.0      19.0          USA         NY
 19601  zmiched01     1884.0        10.0       1.0          USA         OH
 19602  zobribe01     1981.0         5.0      26.0          USA         IL
 19603  zoccope01     1977.0         2.0       6.0          USA         NY
 19604  zoldasa01     1918.0        12.0       8.0          USA         NY
 19605  zoskyed01     1968.0         2.0      10.0          USA         CA
 19606  zuberbi01     1913.0         3.0      26.0          USA         IA
 19607  zuberjo01     1969.0        12.0      10.0          USA         CA
 19608  zuletju01     1975.0         3.0      28.0       Panama     Panama
 19609  zumayjo01     1984.0        11.0       9.0          USA         CA
 19610  zuninmi01     1991.0         3.0      25.0          USA         FL
 19611  zupcibo01     1966.0         8.0      18.0          USA         PA
 19612   zupofr01     1939.0         8.0      29.0          USA         CA
 19613  zuvelpa01     1958.0        10.0      31.0          USA         CA
 19614  zuverge01     1924.0         8.0      20.0          USA         MI
 19615  zwilldu01     1888.0        11.0       2.0          USA         MO
 19616   zychto01     1990.0         8.0       7.0          USA         IL

               birthCity  deathYear  deathMonth  deathDay  ...     nameLast  \
 0                Denver        NaN         NaN       NaN  ...      Aardsma
 1                Mobile        NaN         NaN       NaN  ...        Aaron
 2                Mobile     1984.0         8.0      16.0  ...        Aaron
 3                Orange        NaN         NaN       NaN  ...         Aase
 4            Palm Beach        NaN         NaN       NaN  ...         Abad
 5             La Romana        NaN         NaN       NaN  ...         Abad
 6          Philadelphia     1905.0         5.0      17.0  ...       Abadie
 7               Latrobe     1957.0         1.0       6.0  ...  Abbaticchio
 8                 Essex     1962.0         6.0      11.0  ...        Abbey
 9            Falls City     1926.0         4.0      27.0  ...        Abbey
 10              Portage     1930.0         2.0      13.0  ...       Abbott
 11           Versailles     1935.0         6.0      11.0  ...       Abbott
 12          Little Rock        NaN         NaN       NaN  ...       Abbott
 13              Atlanta        NaN         NaN       NaN  ...       Abbott
 14                Flint        NaN         NaN       NaN  ...       Abbott
 15           Zanesville        NaN         NaN       NaN  ...       Abbott
 16          Newburyport        NaN         NaN       NaN  ...       Abbott
 17            New Eagle     1933.0         4.0      13.0  ...       Abbott
 18             Van Nuys        NaN         NaN       NaN  ...       Abbott
 19            Cleveland     1993.0         5.0      20.0  ...         Aber
 20          Fort Towson     1939.0        11.0      11.0  ...  Abercrombie
 21             Columbus        NaN         NaN       NaN  ...  Abercrombie
 22             Torrance     2006.0         2.0      19.0  ...   Abernathie
 23              Atlanta        NaN         NaN       NaN  ...    Abernathy
 24                Bynum     2001.0        11.0      16.0  ...    Abernathy
 25              Stanley     2004.0        12.0      16.0  ...    Abernathy
 26          Forest City     1994.0        12.0       5.0  ...    Abernathy
 27              Chicago     1973.0         6.0      23.0  ...      Aberson
 28              Terrell     1951.0         2.0       8.0  ...        Ables
 29             Hamilton        NaN         NaN       NaN  ...        Abner
 ...                 ...        ...         ...       ...  ...          ...
 19587        Auburndale        NaN         NaN       NaN  ...   Zimmermann
 19588        Pine Grove     1991.0        11.0      22.0  ...    Zimmerman
 19589        Washington        NaN         NaN       NaN  ...    Zimmerman
 19590        Carmichael        NaN         NaN       NaN  ...         Zink
 19591        Pittsfield     1964.0         6.0      12.0  ...         Zink
 19592      Phoenixville     1936.0         5.0      12.0  ...         Zinn
 19593          Holbrook     1949.0        10.0       6.0  ...         Zinn
 19594            Benton     1991.0         2.0      26.0  ...         Zinn
 19595           Astoria     1993.0         2.0      16.0  ...       Zinser
 19596           El Paso        NaN         NaN       NaN  ...       Zinter
 19597        Belleville        NaN         NaN       NaN  ...       Zipfel
 19598          Brooklyn        NaN         NaN       NaN  ...         Zisk
 19599         Las Vegas        NaN         NaN       NaN  ...         Zito
 19600  Long Island City     1985.0         5.0      29.0  ...     Zitzmann
 19601         Cleveland     1950.0         8.0      20.0  ...        Zmich
 19602            Eureka        NaN         NaN       NaN  ...      Zobrist
 19603             Bronx        NaN         NaN       NaN  ...   Zoccolillo
 19604          Brooklyn     1966.0         8.0      25.0  ...       Zoldak
 19605          Whittier        NaN         NaN       NaN  ...        Zosky
 19606      Middle Amana     1982.0        11.0       2.0  ...        Zuber
 19607            Encino        NaN         NaN       NaN  ...        Zuber
 19608            Panama        NaN         NaN       NaN  ...       Zuleta
 19609       Chula Vista        NaN         NaN       NaN  ...       Zumaya
 19610        Cape Coral        NaN         NaN       NaN  ...       Zunino
 19611        Pittsburgh        NaN         NaN       NaN  ...       Zupcic
 19612     San Francisco     2005.0         3.0      25.0  ...         Zupo
 19613         San Mateo        NaN         NaN       NaN  ...      Zuvella
 19614           Holland     2014.0         9.0       8.0  ...     Zuverink
 19615         St. Louis     1978.0         3.0      27.0  ...     Zwilling
 19616             Monee        NaN         NaN       NaN  ...         Zych

                 nameGiven weight height bats throws       debut   finalGame  \
 0             David Allan  215.0   75.0    R      R  2004-04-06  2015-08-23
 1             Henry Louis  180.0   72.0    R      R  1954-04-13  1976-10-03
 2              Tommie Lee  190.0   75.0    R      R  1962-04-10  1971-09-26
 3          Donald William  190.0   75.0    R      R  1977-07-26  1990-10-03
 4           Fausto Andres  184.0   73.0    L      L  2001-09-10  2006-04-13
 5        Fernando Antonio  220.0   73.0    L      L  2010-07-28  2017-10-01
 6                 John W.  192.0   72.0    R      R  1875-04-26  1875-06-10
 7            Edward James  170.0   71.0    R      R  1897-09-04  1910-09-15
 8               Bert Wood  175.0   71.0    R      R  1892-06-14  1896-09-23
 9              Charles S.  169.0   68.0    L      L  1893-08-16  1897-08-19
 10       Leander Franklin  190.0   71.0    R      R  1890-04-19  1890-05-23
 11        Harry Frederick  180.0   70.0    R      R  1903-04-25  1905-09-20
 12          William Glenn  200.0   78.0    R      R  1973-07-29  1984-08-08
 13        Jeffrey William  190.0   74.0    R      L  1997-06-10  2001-09-29
 14          James Anthony  200.0   75.0    L      L  1989-04-08  1999-07-21
 15            Kurt Thomas  180.0   71.0    R      R  1993-09-07  2001-04-13
 16          Lawrence Kyle  200.0   76.0    L      L  1991-09-10  1996-08-24
 17              Ody Cleon  165.0   69.0    L      R  1910-09-10  1910-10-15
 18             Paul David  185.0   75.0    R      R  1990-08-21  2004-08-07
 19          Albert Julius  195.0   74.0    L      L  1950-09-15  1957-09-11
 20      Francis Patterson    NaN    NaN  NaN    NaN  1871-10-21  1871-10-21
 21      Reginald Damascus  215.0   75.0    R      R  2006-04-04  2008-09-28
 22         William Edward  190.0   70.0    R      R  1952-09-27  1952-09-27
 23          Michael Brent  185.0   73.0    R      R  2001-06-25  2005-09-29
 24     Talmadge Lafayette  210.0   74.0    R      L  1942-09-19  1944-04-29
 25          Theodore Wade  215.0   76.0    R      R  1955-04-13  1972-09-30
 26         Virgil Woodrow  170.0   72.0    L      L  1946-07-28  1947-04-17
 27     Clifford Alexander  200.0   72.0    R      R  1947-07-18  1949-05-09
 28          Harry Terrell  200.0   74.0    R      L  1905-09-04  1911-05-05
 29           Shawn Wesley  190.0   73.0    R      R  1987-09-08  1992-10-03
 ...                   ...    ...    ...  ...    ...         ...         ...
 19587           Jordan M.  225.0   74.0    R      R  2009-04-20  2018-09-28
 19588        Roy Franklin  187.0   74.0    L      L  1945-08-27  1945-09-30
 19589        Ryan Wallace  215.0   75.0    R      R  2005-09-01  2018-09-26
 19590       Charles Tadao  190.0   73.0    R      R  2008-08-12  2008-08-12
 19591        Walter Noble  165.0   72.0    R      R  1921-07-06  1921-07-19
 19592       Frank Patrick  150.0   68.0  NaN    NaN  1888-04-18  1888-05-03
 19593                 Guy  170.0   70.0    L      R  1911-09-11  1915-09-16
 19594        James Edward  195.0   72.0    L      R  1919-09-04  1929-08-25
 19595     William Francis  185.0   73.0    R      R  1944-08-19  1944-08-26
 19596        Alan Michael  200.0   74.0    B      R  2002-06-18  2004-10-03
 19597    Marion Sylvester  200.0   75.0    L      R  1961-07-26  1962-09-30
 19598      Richard Walter  200.0   73.0    R      R  1971-09-08  1983-09-21
 19599       Barry William  205.0   74.0    L      L  2000-07-22  2015-09-30
 19600      William Arthur  175.0   70.0    R      R  1919-04-27  1929-09-25
 19601       Edward Albert  180.0   72.0    L      L  1910-07-23  1911-06-01
 19602     Benjamin Thomas  210.0   75.0    B      R  2006-08-01  2018-10-01
 19603          Peter Jude  200.0   74.0    L      R  2003-09-05  2003-09-28
 19604       Samuel Walter  185.0   71.0    L      L  1944-05-13  1952-08-26
 19605        Edward James  175.0   72.0    R      R  1991-09-02  2000-10-01
 19606       William Henry  195.0   74.0    R      R  1936-09-16  1947-09-23
 19607          Jon Edward  190.0   73.0    L      L  1996-04-19  1998-09-27
 19608       Julio Ernesto  230.0   78.0    R      R  2000-04-06  2001-06-25
 19609         Joel Martin  215.0   75.0    R      R  2006-04-03  2010-06-28
 19610     Michael Accorsi  220.0   74.0    R      R  2013-06-12  2018-09-29
 19611              Robert  220.0   76.0    R      R  1991-09-07  1994-08-04
 19612        Frank Joseph  182.0   71.0    L      R  1957-07-01  1961-05-09
 19613                Paul  173.0   72.0    R      R  1982-09-04  1991-05-02
 19614              George  195.0   76.0    R      R  1951-04-21  1959-06-15
 19615     Edward Harrison  160.0   66.0    L      L  1910-08-14  1916-07-12
 19616       Anthony Aaron  190.0   75.0    R      R  2015-09-04  2017-08-19

         retroID    bbrefID
 0      aardd001  aardsda01
 1      aaroh101  aaronha01
 2      aarot101  aaronto01
 3      aased001   aasedo01
 4      abada001   abadan01
 5      abadf001   abadfe01
 6      abadj101  abadijo01
 7      abbae101  abbated01
 8      abbeb101  abbeybe01
 9      abbec101  abbeych01
 10     abbod101  abbotda01
 11     abbof101  abbotfr01
 12     abbog001  abbotgl01
 13     abboj002  abbotje01
 14     abboj001  abbotji01
 15     abbok002  abbotku01
 16     abbok001  abbotky01
 17     abboo101  abbotod01
 18     abbop001  abbotpa01
 19     abera101   aberal01
 20     aberd101  abercda01
 21     aberr001  abercre01
 22     aberb101  abernbi01
 23     aberb001  abernbr01
 24     abert102  abernte01
 25     abert101  abernte02
 26     aberw101  abernwo01
 27     aberc101  aberscl01
 28     ableh101  ablesha01
 29     abnes001  abnersh01
 ...         ...        ...
 19587  zimmj003  zimmejo02
 19588  zimmr101  zimmero01
 19589  zimmr001  zimmery01
 19590  zinkc001   zinkch01
 19591  zinkw101   zinkwa01
 19592  zinnf101   zinnfr01
 19593  zinng101   zinngu01
 19594  zinnj101   zinnji01
 19595  zinsb101  zinsebi01
 19596  zinta001  zinteal01
 19597  zipfb101  zipfebu01
 19598  ziskr101   ziskri01
 19599  zitob001   zitoba01
 19600  zitzb101  zitzmbi01
 19601  zmice101  zmiched01
 19602  zobrb001  zobribe01
 19603  zoccp001  zoccope01
 19604  zolds101  zoldasa01
 19605  zoske001  zoskyed01
 19606  zubeb101  zuberbi01
 19607  zubej001  zuberjo01
 19608  zulej001  zuletju01
 19609  zumaj001  zumayjo01
 19610  zunim001  zuninmi01
 19611  zupcb001  zupcibo01
 19612  zupof101   zupofr01
 19613  zuvep001  zuvelpa01
 19614  zuveg101  zuverge01
 19615  zwild101  zwilldu01
 19616  zycht001   zychto01

 [19617 rows x 24 columns],
          playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...  \
 0       abercda01    1871      1    TRO  NaN    1    4    0    0   0  ...
 1        addybo01    1871      1    RC1  NaN   25  118   30   32   6  ...
 2       allisar01    1871      1    CL1  NaN   29  137   28   40   4  ...
 3       allisdo01    1871      1    WS3  NaN   27  133   28   44  10  ...
 4       ansonca01    1871      1    RC1  NaN   25  120   29   39  11  ...
 5       armstbo01    1871      1    FW1  NaN   12   49    9   11   2  ...
 6       barkeal01    1871      1    RC1  NaN    1    4    0    1   0  ...
 7       barnero01    1871      1    BS1  NaN   31  157   66   63  10  ...
 8       barrebi01    1871      1    FW1  NaN    1    5    1    1   1  ...
 9       barrofr01    1871      1    BS1  NaN   18   86   13   13   2  ...
 10       bassjo01    1871      1    CL1  NaN   22   89   18   27   1  ...
 11      battijo01    1871      1    CL1  NaN    1    3    0    0   0  ...
 12      bealsto01    1871      1    WS3  NaN   10   36    6    7   0  ...
 13      beaveed01    1871      1    TRO  NaN    3   15    7    6   0  ...
 14      bechtge01    1871      1    PH1  NaN   20   94   24   33   9  ...
 15      bellast01    1871      1    TRO  NaN   29  128   26   32   3  ...
 16      berkena01    1871      1    PH1  NaN    1    4    0    0   0  ...
 17      berryto01    1871      1    PH1  NaN    1    4    0    1   0  ...
 18      berthha01    1871      1    WS3  NaN   17   73   17   17   1  ...
 19      biermch01    1871      1    FW1  NaN    1    2    0    0   0  ...
 20       birdge01    1871      1    RC1  NaN   25  106   19   28   2  ...
 21      birdsda01    1871      1    BS1  NaN   29  152   51   46   3  ...
 22      brainas01    1871      1    WS3  NaN   30  134   24   30   4  ...
 23      brannmi01    1871      1    CH1  NaN    3   14    2    1   0  ...
 24      burrohe01    1871      1    WS3  NaN   12   63   11   15   2  ...
 25      careyto01    1871      1    FW1  NaN   19   87   16   20   2  ...
 26      carleji01    1871      1    CL1  NaN   29  127   31   32   8  ...
 27       conefr01    1871      1    BS1  NaN   19   77   17   20   3  ...
 28      connone01    1871      1    TRO  NaN    7   33    6    7   0  ...
 29      cravebi01    1871      1    TRO  NaN   27  118   26   38   8  ...
 ...           ...     ...    ...    ...  ...  ...  ...  ...  ...  ..  ...
 105831  wittgni01    2018      1    MIA   NL   32    0    0    0   0  ...
 105832  wolteto01    2018      1    COL   NL   74  182   19   31   4  ...
 105833   wongko01    2018      1    SLN   NL  127  353   41   88  18  ...
 105834   woodal02    2018      1    LAN   NL   33   44    1    2   0  ...
 105835   woodbl01    2018      1    LAA   AL   13    0    0    0   0  ...
 105836   woodhu01    2018      1    TBA   AL   31    0    0    0   0  ...
 105837  woodrbr01    2018      1    MIL   NL   19    8    2    2   0  ...
 105838  workmbr01    2018      1    BOS   AL   43    0    0    0   0  ...
 105839  wrighda03    2018      1    NYN   NL    2    2    0    0   0  ...
 105840  wrighky01    2018      1    ATL   NL    4    0    0    0   0  ...
 105841  wrighmi01    2018      1    BAL   AL   48    1    0    0   0  ...
 105842  wrighst01    2018      1    BOS   AL   20    0    0    0   0  ...
 105843  wynnsau01    2018      1    BAL   AL   42  110   16   28   2  ...
 105844  yacabji01    2018      1    BAL   AL   12    0    0    0   0  ...
 105845  yarbrry01    2018      1    TBA   AL   38    3    0    0   0  ...
 105846  yateski01    2018      1    SDN   NL   65    2    0    0   0  ...
 105847  yelicch01    2018      1    MIL   NL  147  574  118  187  34  ...
 105848  youngch04    2018      1    LAA   AL   56  113   17   19   2  ...
 105849  younger03    2018      1    LAA   AL   41  109   12   22   4  ...
 105850  zagunma01    2018      1    CHN   NL    5    5    0    2   1  ...
 105851  zagurmi01    2018      1    MIL   NL    2    0    0    0   0  ...
 105852  zamorda01    2018      1    NYN   NL   16    0    0    0   0  ...

In [13]:
result = pd.concat([df1, df4], axis=1, join='inner')

ValueError: Shape of passed values is (106051, 206), indices imply (19618, 206)

In [23]:
#Join dataframes on playerID
dfs = [df.set_index('playerID') for df in dfs]
dfs[0].join(dfs[1:])

KeyError: 'playerID'

In [26]:
merged_df = dfs[0]
for merged_df in dfs[1:]:
    merged_df = merged_df.merge(merged_df, on='playerID')

MemoryError: