In [12]:
import pandas as pd

In [13]:
filepath1 = "Data\Batting.csv"

filepath2 = "Data\People.csv"

In [14]:
batting_stats = pd.read_csv(filepath1)

people_df = pd.read_csv(filepath2)

In [15]:
regular_season_batting_stats = batting_stats[["playerID", "yearID", "G", "AB", "R", "H", "2B", "3B", "HR", "RBI", "BB", "IBB", "HBP"]]

In [16]:
players = people_df[["playerID", "nameFirst", "nameLast"]]

In [18]:
regular_season_batting_stats_name = pd.merge(players, regular_season_batting_stats, on="playerID", how="inner")

,playerID,nameFirst,nameLast,yearID,G,AB,R,H,2B,3B,HR,RBI,BB,IBB,HBP
0,aardsda01,David,Aardsma,2004,11,0,0,0,0,0,0,0.0,0,0.0,0.0
1,aardsda01,David,Aardsma,2006,45,2,0,0,0,0,0,0.0,0,0.0,0.0
2,aardsda01,David,Aardsma,2007,25,0,0,0,0,0,0,0.0,0,0.0,0.0
3,aardsda01,David,Aardsma,2008,47,1,0,0,0,0,0,0.0,0,0.0,0.0
4,aardsda01,David,Aardsma,2009,73,0,0,0,0,0,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105856,zwilldu01,Dutch,Zwilling,1915,150,548,65,157,32,7,13,94.0,67,NaN,2.0
105857,zwilldu01,Dutch,Zwilling,1916,35,53,4,6,1,0,1,8.0,4,NaN,0.0
105858,zychto01,Tony,Zych,2015,13,0,0,0,0,0,0,0.0,0,0.0,0.0
105859,zychto01,Tony,Zych,2016,12,0,0,0,0,0,0,0.0,0,0.0,0.0
105860,zychto01,Tony,Zych,2017,45,0,0,0,0,0,0,0.0,0,0.0,0.0

In [20]:
regular_season_batting_stats_name = regular_season_batting_stats_name.assign(Name = regular_season_batting_stats_name.nameFirst.astype(str) + " " +
                                                       regular_season_batting_stats_name.nameLast.astype(str))

In [22]:
regular_season_batting_stats_name = regular_season_batting_stats_name[["playerID", "Name", "yearID", "G", "AB", "R", "H", "2B", "3B", "HR", "RBI", "BB", "IBB", "HBP"]]

In [23]:
regular_season_batting_stats_name = regular_season_batting_stats_name.fillna(0)

In [24]:
regular_season_batting_stats_name.to_csv("Output/Reg_Season_Batting_stats.csv", index=False, header=True)